.prev {
    display: block;
    background-color: white;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 50px;
    color: black;
    font-size: 300%;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
    text-shadow: 1px 1px #0c0c0d;
}
    .prev:hover {
        background-color: black;
        cursor: pointer;
        color:white;
    }
    .prev:disabled {
        background-color: rgba(148, 148, 150, 0.2);
        color: gray;
    }
        .prev:disabled:hover {
            border-color: gray;
            cursor: not-allowed;
        }
    
.next {
    display: block;
    background-color: white;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 50px;
    color: black;
    font-size: 300%;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
    text-shadow: 1px 1px #0c0c0d;
}
.next:hover {
    background-color: black;
    cursor: pointer;
    color:white;
}
    .next:disabled {
        background-color: rgba(148, 148, 150, 0.2);
        color: gray;
    }
    .next:disabled:hover{
        border-color:gray;
        cursor:not-allowed;
    }


.BtnVisitedPath {
    color: black;
    border-radius: 10%;
    background-image: linear-gradient(180deg, #95d891, #74bbad);
    margin: 2%;
    border-style: solid;
    font-weight:700;
}

    .BtnVisitedPath:link {
        background-color: white;
        color: black;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        outline: none;
        height: 150px;
        width: 250PX;
        text-align: center;
        padding-top: 4%;
    }

    .BtnVisitedPath:active, .BtnVisitedPath:hover {
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(180deg, #95d891, #74bbad);
        color: black
    }

.BtnChoosePath {
    color: black;
    border-radius: 10%;
    background-color: whitesmoke;
    margin: 2%;
    border-style: solid;
    font-weight:700;
}


    .BtnChoosePath:link {
        background-color: white;
        color: black;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        outline: none;
        height: 150px;
        width: 250PX;
        text-align: center;
        padding-top: 4%;
    }

    .BtnChoosePath:active, .BtnChoosePath:hover {
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(180deg, #95d891, #74bbad);
        color: black
    }

    .BtnChoosePath a:visited {
        /*background-image: linear-gradient(180deg, #95d891, #74bbad);*/
        text-decoration: none;
    }

.SingleProject #editBtn {
    float: right;
    position: center;
    border-style: none;
    background-color: white;
    opacity: 0.6;
    margin-right: 3px;
    display: block;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: white;
    transition: all .3s;
    text-decoration: none;
}

#editBtn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 40%;
}

.SingleProject #deleteBtn {
    float: right;
    position: center;
    border-style: none;
    background-color: white;
    opacity: 0.6;
    margin-right: 3px;
    display: block;
}

#deleteBtn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 40%;
}

.SaveBtn:link, .SaveBtn:visited {
    background-color: white;
    color: black;
    text-align: center;
    padding: 5% 5%;
    display: inline-block;
    border-style: solid;
    border-color: slategray
}

.btn-cancel {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
}

    .btn-cancel:hover {
        background-color: grey;
    }

.btn-save {
    color: black;
    background-color: white;
    border-color: black;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    text-decoration: none;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-top: 50px;
    border-style:solid;
    border-color:black;
}

    .btn-save:hover {
        background-color: black;
        color: white;
    }

.btn-delete {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}

.choicemakers {
    color: black;
    display: inline-block;
    background-color: white;
    margin: 0 0 0 10%;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-decoration: none;
    text-shadow: 4px 4px 2px rgba(148, 148, 150, 0.27);
    height: 60px;
    width: 150px;
    justify-content: center;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .1s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 5%;
}

    .choicemakers:hover {
        cursor: pointer;
        border-radius: 4%;
        box-shadow: inset 150px 0 0 0 black;
        color: white;
    }
.informationButton{
    background-color:rgb(255, 255, 255,0);
    color:black;
    display:inline-block;
    text-decoration:none;
    justify-content:center;
    font-size:250%;
}


.informationButton:hover{
    cursor:pointer;
}
.disabledCatagory {
    color: black;
    border-radius: 10%;
    background-color: whitesmoke;
    margin: 2%;
    border-style: solid;
    display:inline-block;
}
.disabledCatagory:link {
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    outline: none;
    height: 150px;
    width: 250PX;
    text-align: center;
    padding-top: 4%;
}

.disabledCatagory:active, .BtnChoosePath:hover {
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(180deg, #95d891, #74bbad, 0.2);
    color: black
}
#homeCreateBtn{
    font-size:200%;
}
.pdfDownloadBtn {
    display: inline-block;
    width: 20%;
    margin-left: 40%;
    margin-top:1%;
    margin-bottom:1%;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    border-color:black;
}
.pdfDownloadBtn:hover{
    background-color:black;
    color:white;
}
#cancelPWbtn {
    display:inline-block;
    border-style:solid;
    border-color:black;
    text-decoration:none;
    padding:1%;
    margin-top:25%;
    color:black;
    background-color:white;
}
#cancelPWbtn:hover{
    background-color:black;
    color:white;
}
.loginbtn {
    display: flex;
    flex-direction: column;
}
.loginbtn button{
    margin-left:15%;
    margin-bottom:-10%;
}
.loginbtn a{
    margin-left:15%;
}

@media screen and (max-width: 1280px) {
    .BtnChoosePath:link {
        height: 90px;
        padding: 1%;
        margin-bottom:-1%;
    }
    .BtnVisitedPath:link {
        height: 90px;
        padding: 1%;
        margin-bottom: -1%;
    }
}
@media screen and (max-width: 575px){
    .pdfDownloadBtn{
        width:175px;
        height:50px;
        
    }
}