html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    text-align: center;
    color: #f5f5f5;
    background-color: whitesmoke;
    
}

.app {
    margin: 0 auto;
    justify-content: center;
}

    .app i {
        font-size: 80px;
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: 1;
    }


.SingleProject div {
    color: black;
    
    font-weight: 600;
    justify-content:center;
}
.SingleProject h5 {
    font-weight: 400;
}
.tagsForProject{
    display:flex;
    flex-direction:row;
    
}
    .tagsForProject p {
        margin: 1%;
        font-weight: 400;
        font-style:italic;
    }




.LogOutDiv {
    margin-left: 65%;
}
.HeadDiv{
    display:flex;
    flex-direction:row;
}
.ContainerDiv{
    width:100%;
    display:flex;
    flex-direction:row;
}


article {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: whitesmoke;
    color: black;
}

    article div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        transition: .5s ease;
    }

    article input {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        opacity: 0;
        cursor: pointer;
    }

.slideshow-container {
    display: flex;
    margin: 0 auto;
    max-width: 33%;
    justify-content: center;
    flex-wrap: wrap;
    
}

input[type=checkbox]:checked ~ div {
    background-image: linear-gradient(180deg, #95d891, #74bbad);
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 9%;
 
}

.upgrade-btn {
    display: block;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid #50bcf2;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
}

    .upgrade-btn:hover {
        background-color: #50bcf2;
    }

.blue-color {
    color: #50bcf2;
}

.gray-color {
    color: #555;
}

.social i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}



@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin: 0%;
        width: 100%;
    }
}

.register-form {
    padding-bottom: 462px;
    width: 200px;
}

table {
    border-spacing: 5px;
    border-collapse: separate;
}

.CategoryLink {
    display: inline-block;
    height: 50px;
    width: 200px;
}

.tableheader {
    height: 50px;
    width: 200px;
}

.projectButtons{
    display:flex;
    flex-direction:row;
    float:right;
    margin-top:-60px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#overlay h1{
    margin-top:10%;
    color:white;
}
#overlay div{
    margin-top:4%;
    margin-right:10%;
}


#imgCheck {
    height: 50px;
    width: 50px;
}

.ChosePathBtnDiv {
    padding: 100px;
}



li {
    list-style: none;
}

.MyProjectsDiv {
    display: flex;
    flex-wrap: wrap;
}



.saveDiv {
    padding: 30px;
}



button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.btn-cancel {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
}

button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.HomeProjects {
    display: flex;
    flex-direction: column;
}



.formstyle {
    display: flex;
    justify-content: center;
}
.signup{
    padding:10%;
}
.titlestyle{
    color:black;
    font-weight:700;
}
.tagstyle {
    width: 150px;
    height: 30px;
    background-color: #454857;
    color: white;
    text-decoration:none;
    border-radius:0;
    border-style:none;
}
    .tagstyle input[type=checkbox]:checked ~ div {
        text-shadow: 7px 7px 14px rgba(0, 0, 0, 0.51);
        border-radius:0;
    }



.projectLinks {
    display: block;
    color: black;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: white;
    border: 3px solid #e8e8e8;
    transition: all .3s;
    text-decoration: none;
    text-align: left;
    overflow-wrap: break-word;
    font-weight: 600;
    
    height: 144px;
}
    .projectLinks p {
        font-size: 11px;
    }

    .projectLinks:hover {
        box-shadow: 8px 6px 31px -2px rgba(0,0,0,0.37);
        color: white;
    }

.MyProjects:link, .MyProjects:visited {
    display: inline-grid;
    display: block;
    position: center;
    padding: 1%1%;
    background-color: white;
    text-align: center;
    width: 600px;
    height: 100px;
    margin: 0.1%;
    color: black;
    border-style: solid;
    border-color: lightslategrey;
    border-radius: 25%;
    font-style: italic;
    text-decoration: none;
}

.MyProjects:hover {
    background-color: yellow;
}


.TagContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    padding: 10px;
}

.TagLabel {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 5px;
    float: left;
    border: 2px solid #f5f5f5;
    box-sizing: border-box;
    border-radius: 10%;
}



.TagClass {
    background-image:linear-gradient(to left, #146fd1, #1f88a0);
    border-style: solid;
    border-color:black;
    color: white;
    border-radius: 20%;
    padding: 1%;
    text-shadow:1px 1px black;
    font-weight:800;
    margin:1% 1% 0 0;
}

.MyProjectsDiv {
    border-style: solid;
    border-color: slategray;
    background-image: url('https://thumbs.dreamstime.com/b/water-ripples-5002425.jpg');
    justify-content: center;
}



.Testar {
    width: 500px;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.NameInput {
    width: 350px;
}

.form-group {
    padding: 8px;
    color: black;
}

a.next {
    border-color: white;
}

    a.next:hover {
        color: black;
    }

a.prev {
    border-color: white;
}

    a.prev:hover {
        color: black;
    }

.radio {
    padding: 10px;
    position: relative;
}

    .radio input {
        width: auto;
        height: 100%;
        appearance: none;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        padding: 4px 8px;
        background: #454857;
        color: white;
        font-size: 14px;
        
        transition: all 100ms linear;
    }

        .radio input:checked {
            background-image: linear-gradient(180deg, #95d891, #74bbad);
            color: #fff;
            box-shadow: 0 1px 1px #0000002e;
            text-shadow: 0 1px 0px #79485f7a;
        }

        .radio input:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            width: 100%;
        }






@media screen and (max-width: 1352px) {
    .slideshow-container {
        max-width: 500px;
        padding: 0 0 0 50px;
    }

    .next {
        width: 400px;
    }

    .prev {
        width: 400px;
    }

    .feature {
        max-width: 400px;
        max-height: 600px;
    }
}

@media screen and (max-width: 489px) {
    .slideshow-container {
        max-width: 380px;
        padding: 0 0 0 25px;
    }

    .next {
        width: 250px;
    }

    .prev {
        width: 250px;
    }

    .feature {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (max-width: 365px) {
    .slideshow-container {
        max-width: 380px;
        padding: 0 0 0 25px;
    }

    .next {
        width: 250px;
    }

    .prev {
        width: 250px;
    }

    .feature {
        max-width: 120px;
        max-height: 150px;
    }
}
