html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    text-align: center;
    color: #f5f5f5;
    background-color: white;
    font-family: 'Roboto';
}

.app {
    margin: 0 auto;
    justify-content: center;
}

    .app i {
        font-size: 80px;
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: 1;
    }
.tagstyle {
    height: 75px;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tagstyle input[type=checkbox]:checked ~ div {
    background-image: linear-gradient(180deg, #95d891, #74bbad);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    box-shadow: 0 1px 1px #0000002e;
    text-shadow: 1px 1px black;
}

.SingleProject div {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    justify-content:center;
}
.SingleProject h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.tagsForProject{
    display:flex;
    flex-direction:row;
    
}
    .tagsForProject p {
        margin: 1%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-style:italic;
    }

.LogOutDiv{
    margin-left:80%;

}
.HeadDiv{
    display:flex;
    flex-direction:row;
}
.ContainerDiv{

    width:100%;
    
    display:flex;
    flex-direction:row;
}


article {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: whitesmoke;
    color: black;
}

    article div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        transition: .5s ease;
    }

    article input {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        opacity: 0;
        cursor: pointer;
    }

.slideshow-container {
    display: flex;
    margin: 0 auto;
    max-width: 33%;
    justify-content: center;
    flex-wrap: wrap;
}

input[type=checkbox]:checked ~ div {
    background-image: linear-gradient(180deg, #95d891, #74bbad);
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 9%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upgrade-btn {
    display: block;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid #50bcf2;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
}

    .upgrade-btn:hover {
        background-color: #50bcf2;
    }

.blue-color {
    color: #50bcf2;
}

.gray-color {
    color: #555;
}

.social i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}



@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin: 0%;
        width: 100%;
    }
}

.register-form {
    padding-bottom: 462px;
    width: 200px;
}

table {
    border-spacing: 15px;
    border-collapse: separate;
}

#customerTable {
    background: url(/css/NewFolder/customer.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#productTable {
    background: url(/css/NewFolder/product.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#businessTable {
    background: url(/css/NewFolder/business.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#iprTable {
    background: url(/css/NewFolder/ipr.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#teamTable {
    background: url(/css/NewFolder/team.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#financeTable {
    background: url(/css/NewFolder/finance.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.CategoryLink {
    display: inline-block;
    height: 50px;
    width: 200px;
}

.tableheader {
    height: 50px;
    width: 200px;
}



.prev {
    display: block;
    background-color: lightslategray;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid #f00f;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
    text-shadow: 1px 1px #0c0c0d;
}

    .prev:visited {
        color: white;
    }

.next {
    display: block;
    background-color: lightslategray;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid #4cff00;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
    color: white;
    text-shadow: 1px 1px #0c0c0d;
}

    .next:focus {
        color: red;
    }
.BtnVisitedPath {
    color: black;
    border-radius: 10%;
    background-image: linear-gradient(180deg, #95d891, #74bbad);
    margin: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
}
    .BtnVisitedPath:link {
        background-color: white;
        color: black;
        text-align: center;
        padding: 5% 5%;
        display: inline-block;
        text-decoration: none;
        outline: none;
    }
    .BtnVisitedPath:active, .BtnVisitedPath:hover {
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(180deg, #95d891, #74bbad);
        color: black
    }

.BtnChoosePath {
    color: black;
    border-radius: 10%;
    background-color: whitesmoke;
    margin: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
}


    .BtnChoosePath:link {
        background-color: white;
        color: black;
        text-align: center;
        padding: 5% 5%;
        display: inline-block;
        text-decoration: none;
        outline: none;
    }

    .BtnChoosePath:active, .BtnChoosePath:hover {
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(180deg, #95d891, #74bbad);
        color: black
    }

    .BtnChoosePath a:visited {
        
        /*background-image: linear-gradient(180deg, #95d891, #74bbad);*/
        text-decoration: none;
    }


#imgCheck {
    height: 50px;
    width: 50px;
}

.ChosePathBtnDiv {
    padding: 100px;
}



li {
    list-style: none;
}

.MyProjectsDiv {
    display: flex;
    flex-wrap: wrap;
}

.SaveBtn:link, .SaveBtn:visited {
    background-color: white;
    color: black;
    text-align: center;
    padding: 5% 5%;
    display: inline-block;
    border-style: solid;
    border-color: slategray
}

a#btn-save {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
}

.saveDiv {
    padding: 30px;
}

.btn-cancel {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
}

    .btn-cancel:hover {
        background-color: grey;
    }

.btn-save {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}

    .btn-save:hover {
        background-color: grey;
    }


button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.btn-cancel {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
}

button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.HomeProjects {
    display: flex;
    flex-direction: column;
}

h1 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px black;
}

h2 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px black;
}

h3 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px black;
}
h4 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px black;
}

.formstyle {
    display: flex;
    justify-content: center;
}
.signup{
    padding:10%;
}
.titlestyle{
    color:black;
    font-weight:700;
}
.tagstyle{

}

.projectLinks {
    display: block;
    color: black;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 3px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

    .projectLinks:hover {
        background-color: lightslategrey;
        color: white;
        text-shadow: 1px 1px black;
    }

.MyProjects:link, .MyProjects:visited {
    display: inline-grid;
    display: block;
    position: center;
    padding: 1%1%;
    background-color: white;
    text-align: center;
    width: 600px;
    height: 100px;
    margin: 0.1%;
    color: black;
    border-style: solid;
    border-color: lightslategrey;
    border-radius: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
}

.MyProjects:hover {
    background-color: yellow;
}


.TagContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    padding: 50px;
}

.TagLabel {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 5px;
    float: left;
    border: 2px solid #f5f5f5;
    box-sizing: border-box;
    border-radius: 10%;
}

.CustomerChecked {
    background-color: green;
    color: white;
}

.CustomerUnchecked {
    background-color: red;
    color: black;
}

.AssessmentTable {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .AssessmentTable tr {
        border: 3px solid black;
        background-color: white;
        color: black;
    }

        .AssessmentTable tr a {
            color: black;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .AssessmentTable tr td {
            border: 3px solid black;
        }

.TagClass {
    background-image:linear-gradient(to left, #146fd1, #1f88a0);
    border-style: solid;
    border-color:black;
    color: white;
    border-radius: 20%;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow:1px 1px black;
    font-weight:800;
    margin:1% 1% 0 0;
}

.MyProjectsDiv {
    border-style: solid;
    border-color: slategray;
    background-image: url('https://thumbs.dreamstime.com/b/water-ripples-5002425.jpg');
    justify-content: center;
}

.AssessmentTable {
    display: flex;
    justify-content: center;
}

.Testar {
    width: 500px;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.NameInput {
    width: 350px;
}

.form-group {
    padding: 8px;
    color: black;
}

a.next {
    border-color: white;
}

    a.next:hover {
        color: black;
    }

a.prev {
    border-color: white;
}

    a.prev:hover {
        color: black;
    }

.radio {
    padding: 4px;
    position: relative;
}

    .radio input {
        width: auto;
        height: 100%;
        appearance: none;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        padding: 4px 8px;
        background: #454857;
        color: white;
        font-size: 14px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        transition: all 100ms linear;
    }

        .radio input:checked {
            background-image: linear-gradient(180deg, #95d891, #74bbad);
            color: #fff;
            box-shadow: 0 1px 1px #0000002e;
            text-shadow: 0 1px 0px #79485f7a;
        }

        .radio input:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            width: 100%;
        }



@media screen and (max-width: 1352px) {
    .slideshow-container {
        max-width: 500px;
        padding: 0 0 0 50px;
    }

    .next {
        width: 400px;
    }

    .prev {
        width: 400px;
    }

    .feature {
        max-width: 400px;
        max-height: 600px;
    }
}

@media screen and (max-width: 489px) {
    .slideshow-container {
        max-width: 380px;
        padding: 0 0 0 25px;
    }

    .next {
        width: 250px;
    }

    .prev {
        width: 250px;
    }

    .feature {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (max-width: 365px) {
    .slideshow-container {
        max-width: 380px;
        padding: 0 0 0 25px;
    }

    .next {
        width: 250px;
    }

    .prev {
        width: 250px;
    }

    .feature {
        max-width: 120px;
        max-height: 150px;
    }
}
