html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    text-align: center;
    color: #f5f5f5;
    background-color: whitesmoke;
    
}

.app {
    margin: 0 auto;
    justify-content: center;
}

    .app i {
        font-size: 80px;
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: 1;
    }


.SingleProject div {
    color: black;
    
    font-weight: 600;
    justify-content:center;
}
.SingleProject h5 {
    font-weight: 400;
}
.tagsForProject{
    display:flex;
    flex-direction:row;
    
}
    .tagsForProject p {
        margin: 1%;
        font-weight: 400;
        font-style:italic;
    }




/*.LogOutDiv {
    margin-left: 65%;
}*/
.HeadDiv{
    display:flex;
    flex-direction:row;
}
.ContainerDiv{
    width:100%;
    display:flex;
    flex-direction:row;
}


article {
    position: relative;
    width: 400px;
    height: 200px;
    margin:5px;
    margin-left:6%;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 1%;
    background-color: whitesmoke;
    color: black;
    font-size:150%;
    font-weight:500;
}

    article div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        transition: .5s ease;
    }

    article input {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 200px;
        opacity: 0;
        cursor: pointer;
    }

.slideshow-container {
    display: flex;
    margin: 0 auto;
    max-width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

input[type=checkbox]:checked ~ div {
    background-image: linear-gradient(180deg, #95d891, #74bbad);
}

.upgrade-btn {
    display: block;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid #50bcf2;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
}

    .upgrade-btn:hover {
        background-color: #50bcf2;
    }

.blue-color {
    color: #50bcf2;
}

.gray-color {
    color: #555;
}

.social i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}



@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin: 0%;
        width: 100%;
    }
}

.register-form {
    padding-bottom: 462px;
    width: 200px;
}

table {
    border-spacing: 5px;
    border-collapse: separate;
}

.CategoryLink {
    display: inline-block;
    height: 50px;
    width: 200px;
}

.tableheader {
    height: 50px;
    width: 200px;
}

.projectButtons{
    display:flex;
    flex-direction:row;
    float:right;
    margin-top:-60px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#overlay h1{
    margin-top:10%;
    color:white;
}
#overlay div{
    margin-top:4%;
    margin-right:10%;
    
}
#informationMessage {
    position: fixed;
    width: 90%;
    margin-left:5%;
    height: 75%;
    margin-top:5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: ghostwhite;
    z-index: 2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    justify-items:center;
    text-align:center;
    border-style:solid;
    border-color:black;
}
#helpInformation {
    position: fixed;
    width: 90%;
    margin-left: 5%;
    height: 75%;
    margin-top: 5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: ghostwhite;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    flex-direction:column;
}
.categoryInfo{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    
}
    .categoryInfo div {
        margin-left: 1%;
        margin-right:1%;
        margin-top:1%;
        flex-wrap:wrap;
        width:150px;
    }



#imgCheck {
    height: 50px;
    width: 50px;
}

.ChosePathBtnDiv {
    padding: 100px;
}



li {
    list-style: none;
}

.MyProjectsDiv {
    display: flex;
    flex-wrap: wrap;
}



.saveDiv {
    padding: 30px;
}



button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.btn-cancel {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    border-style: solid;
    border-color: black;
}

button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.HomeProjects {
    display: flex;
    flex-direction: column;
}



.formstyle {
    display: flex;
    justify-content: center;
}
.signup{
    padding:10%;
}
.titlestyle{
    color:black;
    font-weight:700;
}
.tagstyle {
    width: 150px;
    height: 30px;
    background-color: #454857;
    color: white;
    text-decoration:none;
    border-radius:0;
    border-style:none;
    font-size:100%;
    font-weight:100;
}
    .tagstyle input[type=checkbox]:checked ~ div {
        text-shadow: 7px 7px 14px rgba(0, 0, 0, 0.51);
        border-radius:0;
    }
    .tagstyle span{
        color:white;
    }
.tagstyle input[type=checkbox]:hover ~ div {
    background-color: black;
    color: white;
}



.projectLinks {
    display: block;
    color: black;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: white;
    border: 3px solid #e8e8e8;
    transition: all .3s;
    text-decoration: none;
    text-align: left;
    overflow-wrap: break-word;
    font-weight: 600;
    
    height: 144px;
}
    .projectLinks p {
        font-size: 11px;
    }

    .projectLinks:hover {
        box-shadow: 8px 6px 31px -2px rgba(0,0,0,0.37);
        color: white;
    }

.MyProjects:link, .MyProjects:visited {
    display: inline-grid;
    display: block;
    position: center;
    padding: 1%1%;
    background-color: white;
    text-align: center;
    width: 600px;
    height: 100px;
    margin: 0.1%;
    color: black;
    border-style: solid;
    border-color: lightslategrey;
    border-radius: 25%;
    font-style: italic;
    text-decoration: none;
}

.MyProjects:hover {
    background-color: yellow;
}


.TagContainer {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    line-height: 25px;
    transition: .5s ease;
    padding: 10px;
    flex-wrap:wrap;
    width:50%;
    margin-left:25%;

}

.TagLabel {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 5px;
    float: left;
    border: 2px solid #f5f5f5;
    box-sizing: border-box;
    border-radius: 10%;
}



.TagClass {
    background-color: white;
    border-color: black;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 700;
    margin: 1% 1% 0 0;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.29);
    margin-bottom:1%;
}

.MyProjectsDiv {
    border-style: solid;
    border-color: slategray;
    background-image: url('https://thumbs.dreamstime.com/b/water-ripples-5002425.jpg');
    justify-content: center;
}



.Testar {
    width: 500px;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.NameInput {
    width: 350px;
}

.form-group {
    padding: 8px;
    color: black;
}



.radio {
    padding: 10px;
    position: relative;
}

    .radio input {
        width: auto;
        height: 100%;
        appearance: none;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        padding: 4px 8px;
        background: #454857;
        color: white;
        font-size: 14px;
        
        transition: all 100ms linear;
    }

        .radio input:checked {
            background-image: linear-gradient(180deg, #95d891, #74bbad);
            color: #fff;
            box-shadow: 0 1px 1px #0000002e;
            text-shadow: 0 1px 0px #79485f7a;
        }

        .radio input:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            width: 100%;
        }

.AssementDiv {
    display: flex;
    justify-content: space-around;
}
.registrationForm{
    width:50%;
    margin-left:25%;
}
.projectTag {
    padding-left: 1%;
    padding-right: 1%;
    border-style: double;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.29);
    border-radius:10%;
}

#pdfSuggestions{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
#pdfSuggestions div{
    margin:1%;
    justify-content:center;
}
#pdfSuggestions div div{
    width:200px;
}
.informationText{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.informationText a{
    margin-left:45%;
    margin-top:15%;
}
.searchDiv {
    display: none;
}

#tagSearchDiv {
    display: none;
}
/*#adminDiv{
    margin-right:-10%;
}*/
#AboutUsTextChanger{
   display:none;
}
#HowToRegisterInformationChanger{
    display:none;
}
header{
    width:100%;
}

@media screen and (max-width: 1352px){
    .slideshow-container{
        min-width:75%;
    }
    .feature{
        width:175px;
        height:200px;
    }
    
}
@media screen and (max-width: 1352px) {
    .slideshow-container {
        max-width: 500px;
        padding: 0 0 0 50px;
    }
    header{
        width:100%;
    }
    .next {
        width: 400px;
    }

    .prev {
        width: 400px;
    }

    .feature {
        max-width: 400px;
        max-height: 600px;
    }
}
.headcontainer{
    display:flex;
    justify-content:space-around;
    width:100%;
}
@media screen and (max-width: 1280px) {
   
    .ContainerDiv div{
        margin-right:1%;
    }
    header{
        width:100%;
    }
    .feature{
        max-width:200px;
        max-height:150px;
        font-size:100%;
    }
    .slideshow-container {
        min-width:50%;
        height:350px;
        margin-bottom:-5%;
    }
    #pageCounter{
        margin-top:-3%;
    }
    .feature input {
        max-width: 200px;
        max-height: 150px;
    }
    

}
@media screen and (max-width: 712px) {
    .container-fluid {
        width: 100%;
    }

    .tagsForProject {
        margin-right: 10px;
    }

    .projectLinks {
        height: 200px;
        width: 705px;
        margin-left: -18%;
    }

    .projectButtons {
        margin-right: -15%;
    }

    .TagContainer {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: -3%;
    }
    .PathChooser{
        width:700px;
        margin-left:-15%;
    }
}
@media screen and (max-width: 575px){
    .headcontainer{
        flex-direction:column;
    }
    .ContainerDiv {
        flex-direction: column;
        justify-content: left;
    }
    .ContainerDiv div{
        margin:0%;
    }
    .HeadDiv{
        flex-direction:column;
    }
    .projectLinks {
        height: 200px;
        width: 100%;
        margin-left:0%;
    }
    .tagsForProject {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top:-1%;
    }
    .projectButtons{
        margin-right:0%;
    }
    .AssementDiv{

    }
    .prev{
        width:33%;
        font-size:25%;
    }
    
}
.tableLable{
    width:35%;
    display:flex;
    justify-content:space-evenly;
    margin-bottom:-1%;
    
}
.tableLable div h6{
    font-size:150%;
}


@media screen and (max-width: 489px) {
    .slideshow-container {
        max-width: 380px;
        padding: 0 0 0 25px;
    }

    .next {
        width: 250px;
    }

    .prev {
        width: 250px;
    }

    .feature {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (max-width: 390px){
    .PathChooser{
        width:100%;
    }
    .AssementDiv {
        width: 99%;
        margin-right: 0;
        margin-left:0.5%;
    }
    footer{
        width:100%;
    }
    h3{
        font-size:120%;
    }
    html{
        width:100%;
    }
    header{
        width:100%;
    }
}
@media screen and (max-width: 365px) {
    .slideshow-container {
        max-width: 380px;
        padding: 0 0 0 25px;
    }

    .next {
        width: 250px;
    }

    .prev {
        width: 250px;
    }

    .feature {
        max-width: 120px;
        max-height: 150px;
    }
}
