p {
    color: black;
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: black;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: black;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: black;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color: black;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}
h5 {
    color: black;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}
h6 {
    color: black;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}
a {
    color: black;
    font-family: 'Roboto', sans-serif;
}
