@using IAT2022.ViewModels
@model ProjectInformationViewModel

<h1>@Model.Project.ProjectName</h1>
<h2>HEEEEEEEEEEEJ</h2>

<style>
table, th, td {
  border:1px solid black;
}
</style>
<h1>@*@Model.GetTagsForProject()*@</h1>
<div class="AssessmentTable">
   @foreach (var item in Model.Project.Tags)
   {
       <label class="TagClass">@item.Description</label>
   }
    <table>
      <tr class="tableFormat">
        <td>KUND</td>
            @foreach (var item in Model.Project.Customer)
            {
                @if (item.Result)
                {
                    <td class="CustomerChecked">K @item.Id</td>
                }
                else
                {
                    <td class="CustomerUnchecked">K @item.Id</td>
                }
            }
            
           
      </tr>

       <tr>
        <td>Produkt</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>IPR</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Team</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Affär</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Finnansering</td>
        <td></td>
        <td></td>
      </tr>
    </table>
</div>