@using IAT2022.ViewModels

@model LoginViewModel
@{
    ViewData["Title"] = "Logga in";
}

    
<div class="row">
    
         <div class="header-workouts">
        <h2>LOGGA IN</h2>
     </div>
     <div class="formstyle">
        <form method="post" class="form1">
            
            <div class="form-group">
                <label asp-for="Email">E-postadress</label>
                <input asp-for="Email" class="form-control" />
                
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Lösenord</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="Account" asp-action="ResetMyPassword">Glömt lösenord?</a>
            </div>
            <div class="loginbtn">
            <button type="submit" class="btn-save">Logga in</button>
            <h4 class="signup">Har du inget konto?</h4>
            <a class="btn-save" asp-controller="Account" asp-action="RegisterAccount">Registrera dig här</a>            
            </div>
        </form>
     </div>
    
</div>