@using IAT2022.ViewModels
@model PasswordResetViewModel
<div>
    <h1>Återställ Lösenord</h1>
    <div class="registrationForm">
        <form method="post">
             @*<div class="form-group">
                <label asp-for="Email">E-post</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
             </div>*@

             <div class="form-group">
                <label asp-for="Password">Lösenord</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
             </div>

             <div class="form-group">
                <label asp-for="ConfirmPassword">Bekräfta lösenord</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                 <button type="submit" class="btn-save">Registrera</button>
                <button type="submit" class="btn-save" asp-area="" asp-controller="Account" asp-action="ResetPassword" >Avbryt</button>
            </div>
       
        </form>
             
        
    </div>
</div>
