@using IAT2022.ViewModels
@model RegisterAccountViewModel
<div>
    <h1>Registrera Konto</h1>
    <div class="registrationForm">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">

                <label asp-for="Email">E-post</label>
                <input asp-for="Email" class="form-control"/>
           
             </div>

             <div class="form-group">
                <label asp-for="Password">Lösenord</label>
                <input asp-for="Password" class="form-control"/>
            </div>

             <div class="form-group">
                <label asp-for="ConfirmPassword">Bekräfta lösenord</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <button type="submit" id="register" class="btn-save">Registrera</button>
                <button type="submit" id="cancelRegistration" class="btn-save" asp-area="" asp-controller="Account" asp-action="login" >Avbryt</button>
            </div>
       
        </form>
             
        
    </div>
</div>
