@using IAT2022.ViewModels
@model PasswordResetViewModel

<form method="post" >
    <input type="text" name="Email" placeholder="Skriv din epost adress" id="Email" />
    <input asp-controller="Account" asp-action="SendResetMail" type="submit" />
</form>