@using IAT2022.ViewModels
@model PasswordResetViewModel

<h1>Vänligen skriv in din e-postadress</h1>
<p>Ett mail kommer att skickas till den angivna e-postadressen med en länk för att återställa ditt lösenord</p>

<form method="post" >
    <input type="text" name="Email" placeholder="Skriv din epost adress" id="Email" data-val="true"  />
    <input asp-controller="Account" asp-action="SendResetMail" type="submit" />
    <div>
        @Html.ValidationMessage("Email");
        
    </div>
</form>