<div class="informationText">
    <h1>En epost har skickats med en länk för att återställa ditt lösenord</h1>
    <p>Klicka på länken i ditt mail för att byta ditt lösenord</p>
    
    <a asp-controller="Home" asp-action="Index" class="btn-save">Logga in</a>
</div>
