
<h1>Välj vad du först vill registrera</h1>

<div class="PathChooser">
    <a asp-action="Customer" asp-controller="RegisterProject" class="BtnChoosePath">Alt 1</a>
    <a asp-action="Product" asp-controller="RegisterProject" class="BtnChoosePath">Alt 2</a>
</div>