@using IAT2022.ViewModels
@model RegisterProjectViewModel
<h1>Välj kategori du vill besvara</h1>


<div class="PathChooser">
    @if (Model.StepTwo(Model.ProjectPoco)&&Model.StepOne(Model.ProjectPoco))
    {           
                <div>
                    <a id="CustomerPath" asp-action="Customer" asp-controller="Assessment" class="BtnVisitedPath">Behov <i class="fa-solid fa-check"></i></a>
                    <a id="ProductPath" asp-action="Product" asp-controller="Assessment" class="BtnVisitedPath">Lösning <i class="fa-solid fa-check"></i></a>
                </div>
                <div>
                    <a id="BusinessPath" asp-action="Business" asp-controller="Assessment" class="BtnVisitedPath">Marknad <i class="fa-solid fa-check"></i></a>
                    <a id="IPRPath" asp-action="IPR" asp-controller="Assessment" class="BtnVisitedPath">IPR <i class="fa-solid fa-check"></i></a>
                </div>
                

                @if (Model.CheckIfAnswerd(Model.ProjectPoco, "Team"))
                {
                    <a id="TeamPath" asp-action="Team" asp-controller="Assessment" class="BtnVisitedPath">Team <i class="fa-solid fa-check"></i></a>
                    
                }
                else
                {
                    <a id="TeamPath" asp-action="Team" asp-controller="Assessment" class="BtnChoosePath">Team</a>

                }

                @if (Model.CheckIfAnswerd(Model.ProjectPoco, "Finance"))
                {
                    <a id="FinancePath" asp-action="Finance" asp-controller="Assessment" class="BtnVisitedPath">Finansiering <i class="fa-solid fa-check"></i></a>
                    

                }
                else{
                    <a id="FinancePath" asp-action="Finance" asp-controller="Assessment" class="BtnChoosePath">Finansiering</a>

                }
                
    }
    else if (Model.StepOne(Model.ProjectPoco))
    {
                
              <div>
                    <a id="CustomerPath" asp-action="Customer" asp-controller="Assessment" class="BtnVisitedPath">Behov <i class="fa-solid fa-check"></i></a>
                    <a id="ProductPath" asp-action="Product" asp-controller="Assessment" class="BtnVisitedPath">Lösning <i class="fa-solid fa-check"></i></a>
             </div>
                @if (Model.CheckIfAnswerd(Model.ProjectPoco, "Business"))
                {
                    <a id="BusinessPath" asp-action="Business" asp-controller="Assessment" class="BtnVisitedPath">Marknad <i class="fa-solid fa-check"></i></a>
                    
                }
                else
                {
                    <a id="BusinessPath" asp-action="Business" asp-controller="Assessment" class="BtnChoosePath">Marknad</a>

                }

                @if (Model.CheckIfAnswerd(Model.ProjectPoco, "IPR"))
                {
                    <a id="IPRPath" asp-action="IPR" asp-controller="Assessment" class="BtnVisitedPath">IPR <i class="fa-solid fa-check"></i></a>
                    

                }
                else{
                     <a id="IPRPath" asp-action="IPR" asp-controller="Assessment" class="BtnChoosePath">IPR</a>

                }
               
    }
    else
    {
        
            
            @if (Model.CheckIfAnswerd(Model.ProjectPoco, "Customer"))
            {
              <a id="CustomerPath" asp-action="Customer" asp-controller="Assessment" class="BtnVisitedPath">Behov <i class="fa-solid fa-check"></i></a>
               
            }
            else
            {
               <a id="CustomerPath" asp-action="Customer" asp-controller="Assessment" class="BtnChoosePath">Behov</a>
               

            }

            @if (Model.CheckIfAnswerd(Model.ProjectPoco, "Product"))
            {
                <a id="ProductPath" asp-action="Product" asp-controller="Assessment" class="BtnVisitedPath">Lösning <i class="fa-solid fa-check"></i></a>
                

            }
            else{
                <a id="ProductPath" asp-action="Product" asp-controller="Assessment" class="BtnChoosePath">Lösning</a>

            }
            
        
    }
      <div class="saveDiv">
            <a class="btn-save" asp-action="ProjectInformation" asp-controller="ProjectInformation" asp-route-id="@Model.ProjectPoco.Id">Spara och avsluta</a>

        </div>
        <div >
            <a onclick="showHelp()" class="informationButton"><i class="fa-solid fa-circle-info"></i></a>
        </div>
</div>
 <div id="helpInformation" style="display:none">
        <div>
            <h1>Title</h1>
        </div>
        <div class="informationText">
            <p>Paragraph</p>
        </div>
        <div>
            <button onclick="closeHelp()" class="btn-save">Ok</button>
        </div>
    </div> 

@if (@Model.InformationPush(@Model.ProjectPoco))
{
    <div id="informationMessage">
        <div>
            <h1>Title</h1>
        </div>
        <div class="informationText">
            <p>Paragraph</p>
        </div>
        
        <div>
            <button onclick="informationRecieved()" class="btn-save">Ok</button>
        </div>
    </div> 
}
    