@using IAT2022.ViewModels
@model RegisterProjectViewModel


<form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">

                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
             </div>
             <div class="form-group">
                <label asp-for="TypeOfProject">Typ av Projekt</label>
                <select name="TypeOfProject" id="TypeOfProject">
                    <option value="Process">
                        "Process"
                    </option>
                    <option value="Produkt">
                        "Produkt"
                    </option>
                    <option value="Tjänst">
                        "Tjänst"
                    </option>
                </select>
             </div>

             <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
             </div>

             <div class="form-group">
                <label asp-for="Comment"></label>
                <input asp-for="Comment" class="form-control"/>
                <span asp-validation-for="Comment" class="text-danger"></span>



            </div>
            <div>
            @for (var i = 0; i < Model.Tags.Count(); i++)
            {
                <label asp-for="Tags">Välj det som stämmer in på ditt projekt</label>
                <input asp-for="TagsBool[i]" type="checkbox" id="Tag1" />
                <label for="Tag1">@Model.Tags[i].Description</label>
                
            }
            
            


            </div>
                 <button type="submit" value="submit" class="btn-save">Registrera</button>

                <button type="submit" class="btn-cancel" asp-area="" asp-controller="Home" asp-action="Index">Cancel</button>

       
        </form>