@using IAT2022.ViewModels
@model ProjectInformationViewModel
  <h3>
    <span class="blue-color"></span>Välj dom alternativ som stämmer för ditt projekt
  </h3>
<div class ="slideshow-container"> 

   


    <section class="app">
        @*<i class="fa fa-rocket"></i>*@

            
                
        @{
            int counter = 0;

                        
                             
                            @for (var x = 0; x < 3 ; x++)
                            {
                                    
                                    <div class="mySlides">

                                     @for (var i = 0; i < 4; i++)
                                     {
                                         @if (counter < Model.CustomerQuestions.Count())
                                         {
                                            <article class="feature">
                                            <input type="checkbox" id="feature" asp-for="Project.Customer[counter].Result" name="checkboxCustomer"/>
                                            <div>
                                            <span>
                                            @Model.CustomerQuestions[counter].QuestionDescription
                                            </span>
                                            </div>
                                            </article>
                                             counter++;

                                             
                                         }
                                    }
                                
                                
                                    </div>

                                   
                            }
                            
                    }
                    
                </div>
            
               
            

            
    </section>
</div>
            <div class="AssementDiv">
                <a class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-left-long"></i></a>
                @using (Html.BeginForm("ChoosePathCustomer","RegisterProject",FormMethod.Post))
                        {
                            <input class="btn-save" type="submit" value="Spara"/>
                        }
                <a class="next" onclick="plusSlides(1)"><i class="fa-solid fa-right-long"></i></a>


            </div>
            

            </div>

            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>


  
            <h3 id="pageCounter"></h3>
  
</section>
                

