@using IAT2022.ViewModels
@model ProjectInformationViewModel
  <h3>
    <span class="blue-color"></span>Välj dom alternativ som stämmer för ditt projekt
  </h3>
<div class ="slideshow-container"> 

   


    <section class="app">
        @*<i class="fa fa-rocket"></i>*@

            
                
        @{
            int counter = 0;

                        
                             
                            @for (var x = 0; x < 3 ; x++)
                            {
                                    
                                    <div class="mySlides">

                                     @for (var i = 0; i < 4; i++)
                                     {
                                         @if (counter < Model.CustomerQuestions.Count())
                                         {
                                            <article class="feature">
                                            <input type="checkbox" id="feature" asp-for="Project.Customer[counter].Result" name="checkboxCustomer"/>
                                            <div>
                                            <span>
                                            @Model.CustomerQuestions[counter].QuestionDescription
                                            </span>
                                            </div>
                                            </article>
                                             counter++;

                                             
                                         }
                                    }
                                
                                
                                    </div>

                                   
                            }
                            
                    }
                    
                </div>
            
               
            

            
    </section>
</div>
            <a class="next" onclick="plusSlides(1)">Nästa</a>
            <a class="prev" onclick="plusSlides(-1)">Tillbaka</a>
            

            </div>

            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>


  

  
</section>
                <h3>Motivera dina svar med en kommentar</h3>
                @if (Model.Project.CustomerComment == null)
                {
                    
                        @using (Html.BeginForm("ChoosePathCustomer","RegisterProject",FormMethod.Post))
                    {
                        <div class="CategoryCommentDiv">
                        <textarea name="input" class="Testar"></textarea>
                        </div>
                        <input class="btn-save" type="submit" value="Spara"/>
                        }
                    }
                    else
                    {
                         @using (Html.BeginForm("ChoosePathCustomer","RegisterProject",FormMethod.Post))
                        {
                            <div class="CategoryCommentDiv">
                            <textarea name="input" class="Testar">@Model.Project.CustomerComment.ToString()</textarea>
                            </div>
                            <input class="btn-save" type="submit" value="Spara"/>
                        }
                    }

