@using IAT2022.ViewModels
@model ProjectInformationViewModel
<div class ="slideshow-container"> 

   


    <section class="app">
        @*<i class="fa fa-rocket"></i>*@

            
                
        @{
            int counter = 0;

                        
                             
                            @for (var x = 0; x < 3 ; x++)
                            {
                                    
                                    <div class="mySlides">

                                     @for (var i = 0; i < 4; i++)
                                     {
                                         @if (counter < Model.ProductQuestions.Count())
                                         {
                                            <article class="feature">
                                            <input type="checkbox" id="feature" asp-for="Project.Product[counter].Result" name="checkboxProduct"/>
                                            <div>
                                            <span>
                                            @Model.ProductQuestions[counter].QuestionDescription
                                            </span>
                                            </div>
                                            </article>
                                             counter++;

                                             
                                         }
                                    }
                                
                                
                                    </div>

                                   
                            }
                            
                    }
                    
                </div>
            
               
            

            
    </section>
</div>
            <a class="next" onclick="plusSlides(1)">Nästa</a>
            <a class="prev" onclick="plusSlides(-1)">Tillbaka</a>
            

            </div>

            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>


  
  <h3>
    <span class="blue-color"></span>Välj dom alternativ som stämmer för ditt projekt
  </h3>
  

@if (Model.Project.ProductComment == null)
                {
                        @using (Html.BeginForm("ChoosePathProduct","RegisterProject",FormMethod.Post))
                    {
                        <div class="CategoryCommentDiv">
                        <textarea name="input" class="Testar">

                        </textarea>
                            <input type="submit" value="Spara"/>
                        </div>
                        }
                    }
                    else
                    {
                         @using (Html.BeginForm("ChoosePathProduct","RegisterProject",FormMethod.Post))
                        {
                            <div class="CategoryCommentDiv">
                            <textarea name="input" class="Testar">
                            @Model.Project.ProductComment.ToString();
                            </textarea>
                            <input type="submit" value="Spara"/>
                            </div>
                        }
                    }
 
  
</section>

<div class="social">
  <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
</div>
     