<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IAT2022</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/links.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IAT2022.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/229e5fa2c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-around">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <div class="ContainerDiv"> 
                            <div class="HeadDiv"> 
                                <li class="nav-item">
                                    <a class="headerLinks" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"><br>Home</i></a>
                                </li>

                                <li class="nav-item">
                                    <a class="headerLinks" asp-area="" asp-controller="RegisterProject" asp-action="Register"><i class="fa-solid fa-arrow-right-to-bracket"><br>Registrera ett nytt projekt</i></a>
                                </li>
                            </div>
                            <div>
                                <li class="nav-item">
                                    <a class="headerLinks" asp-controller="Home" asp-action="AboutUs"><i class="fa-solid fa-circle-info"><br>Om Sidan</i></a>
                                </li>
                            </div>
                            <div class="LogOutDiv"> 
                                <li class="nav-item">
                                    <a id="logoutBtn" class="headerLinks" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-person-walking-arrow-right"><br>Logga Ut</i></a>
                                </li>
                            </div>
                        </div>
                            
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IAT2022 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/PathSettings.js" asp-append-version="true"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
