@using IAT2022.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Dina Projekt</h1> 
</div>
<div>
    @foreach(var item in Model.Projects)
    {
        <li><a asp-controller="ProjectInformation" asp-action="ProjectInformation" asp-route-id="@item.Id">@item.ProjectName</a></li>
        
    }
</div>